*{
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  
  ul{
    list-style-type: none;
  }
  
  #toggle{
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    display: none;
  }
  
  :root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }

  h2{
      color: white;
      text-align: center;
  }

  body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
  }
  
  .btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }
  
  img {
    max-width: 100%;
  }

  .title{
      text-align: center;
      font-size: 2rem;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 20px;
  }
  
  .main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
  }
  
  .main-nav a:hover {
    background: var(--dark);
    color: var(--light);
  }
  
  .top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'showcase showcase'
      'showcase showcase';
  }
  
  .title{
    text-align: center;
    font-size: 2rem;
  }
  
  .showcase {
    grid-area: showcase;
    min-height: 510px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://cdn.tgdd.vn/Files/2021/08/16/1375492/nhac-remix-la-gi-cac-dac-diem-thu-vi-cua-nhac-rem-1.jpg");
    background-size: cover;
    background-position: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

.btn {
    display: block;
    text-align: center;
    margin: auto;
    width: 200px;
    background:#33A1FF;
    box-shadow: 0 0 25px #33A1FF; 
}
    
.btn:hover{
    box-shadow: 0 0 5px #33A1FF,
                0 0 25px #33A1FF,
                0 0 75px #33A1FF,
                0 0 100px#33A1FF;
}

.boxes {
    padding-top: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .box {
    background: var(--primary);
    text-align: center;
    padding: 1rem 1rem;
    box-shadow: var(--shadow);
  }

button{
    width: 100px;
    border: 1px solid black;
    padding: 10px 20px;
    position:absolute;
    top: 425%;
    left: 46.9%;
}

  @media (max-width: 700px) {
    .top-container {
      grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
    }
  
    .showcase h1 {
      font-size: 2.5rem;
    }
  
    .main-nav ul {
      grid-template-columns: 1fr;
    }
  
    .btn {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  
  @media (max-width: 500px) {
    .top-container {
      grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }
    #menu-nav{
      flex-direction: column;
      text-align: center;
    }
    #toggle{
      display: block;
    }
    nav{
      display: none;
    }
  }
  
footer{
    text-align: center;
}
